{%extends 'base.html'%}
{%load static%}
{%block content%}
  <header>
      <nav class="container container--70">
        {%if user.is_authenticated%}
        <ul class="nav--actions">
          <li class="logged-user">
            Hello {{user.first_name}}
            <ul class="dropdown">
              <li><a href="/panel/{{user.id}}/">Profile</a></li>
              {%if not user.is_superuser%}
              <li><a href="/edit/{{user.id}}/">Settings</a></li>
              <li><a href="/logout/">Log out</a></li>
              {%else%}
              <li><a href="/admin">Admin panel</a></li>
              <li><a href="/logout/">Log out</a></li>
              {%endif%}
            </ul>
          </li>
        </ul>
        {%else%}
        <ul class="nav--actions">
          <li><a href="/login/" class="btn btn--small btn--without-border">Log in</a></li>
          <li><a href="/register/" class="btn btn--small btn--highlighted">Register</a></li>
        </ul>
        {%endif%}

        <ul>
          <li><a href="/" class="btn btn--without-border active">Start</a></li>
          <li><a href="#steps" class="btn btn--without-border">What is it all about?</a></li>
          <li><a href="#about-us" class="btn btn--without-border">About us</a></li>
          <li><a href="#help" class="btn btn--without-border">Foundations and organizations</a></li>
          {%if user.is_authenticated%}
          <li><a href="/add_donation/" class="btn btn--without-border">Make a donation</a></li>
          {%else%}
          <li><a href="/login/" class="btn btn--without-border">Make a donation</a></li>
          {%endif%}
          <li><a href="#contact" class="btn btn--without-border">Contact</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
        {% if messages %}

        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}

        {% endif %}
        </div>
      </div>
  </header>
    <section id="steps" class="steps">

      <div style="font-size: 20px;" class="steps--container">
        <div class="steps--item">
            <h2>Donation nr {{donation.id}} details</h2>
            <ul style="position: relative; right: 22px;">
                <h4>Supported organization</h4>
                {{donation.institution}}
                <h4>Donated items</h4>
                {%for category in donation_categories%}
                {%if donation.id == category.donation_id%}{{category.category.name}}, {%endif%}
                {%endfor%}
                <h4>Address / personal data</h4>
                Street: {{donation.address}}<br>
                City: {{donation.city}}<br>
                Post code: {{donation.zip_code}}<br>
                Phone number: {{donation.phone_number}}
                <h4>Donation status</h4>
                <form method="post">
                    {%csrf_token%}
                    {%if donation.is_taken == True%}
                    Received<input type="radio" name="is_taken" value="true" checked="checked">
                    Not received<input type="radio" name="is_taken" value="false">
                    {%else%}
                    Received<input type="radio" name="is_taken" value="true">
                    Not received<input type="radio" name="is_taken" value="false" checked="checked">
                    {%endif%}
                    <input style="position: relative; bottom: 42px; left: 10px;" class="btn" type="submit" value="Send">
                </form>
                <h4>Pick-up date</h4>
                {{donation.pick_up_date}}
                <h4>Donation status</h4>
                {%if donation.is_taken == True%}
                Received on{{donation.date_taken}} at{{donation.time_taken}}
                {%else%}
                Not received
                {%endif%}
                <h4>Date added</h4>
                {{donation.date_added}}
                <h4>Comment</h4>
                {{donation.pick_up_comment}}
            </ul>
        </div>
      </div>

    </section>

    <footer>
        <div id="contact" class="contact">
          <h2>Contact us</h2>
          <h3>Contact form</h3>
          <form method="post">
            {%csrf_token%}
            <div class="form-group form-group--50">
              <input type="text" required="required" name="name" placeholder="First name" />
            </div>
            <div class="form-group form-group--50">
              <input type="text" required="required" name="surname" placeholder="Last name" />
            </div>

            <div class="form-group">
              <textarea name="message" required="required" placeholder="Message" rows="1"></textarea>
            </div>

            <button class="btn btn--small" type="submit">Send</button>
          </form>
        </div>
        <div class="bottom-line">
          <span class="bottom-line--copy">Copyright &copy; 2018</span>
          <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="{%static 'images/icon-facebook.svg'%}"/></a>
            <a href="#" class="btn btn--small"><img src="{%static 'images/icon-instagram.svg'%}"/></a>
          </div>
        </div>
    </footer>
{%endblock%}