{%extends 'base.html'%}
{%block content%}
    <header>
      <nav class="container container--70">
        {%if user.is_authenticated%}
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{user.first_name}}
            <ul class="dropdown">
              <li><a href="/panel/{{user.id}}/">Profil</a></li>
              {%if not user.is_superuser%}
              <li><a href="/edit/{{user.id}}/">Ustawienia</a></li>
              <li><a href="/logout/">Wyloguj</a></li>
              {%else%}
              <li><a href="/admin">Panel administracyjny</a></li>
              <li><a href="/logout/">Wyloguj</a></li>
              {%endif%}
            </ul>
          </li>
        </ul>
        {%else%}
        <ul class="nav--actions">
          <li><a href="/login/" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="/register/" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
        {%endif%}

        <ul>
          <li><a href="/" class="btn btn--without-border active">Start</a></li>
          <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          {%if user.is_authenticated%}
          <li><a href="/add_donation/" class="btn btn--without-border">Przekaż dary</a></li>
          {%else%}
          <li><a href="/login/" class="btn btn--without-border">Przekaż dary</a></li>
          {%endif%}
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <section id="steps" class="steps">
      <h2>Profil użytkownika</h2>

      <div style="font-size: 20px;" class="steps--container">
        <div class="steps--item">
            <h2>Dane osobowe</h2>
            <ul style="position: relative; right: 22px;">
                <h4>Imię</h4> {{user.first_name}}
                <h4>Nazwisko</h4> {{user.last_name}}
                <h4>E-mail</h4> {{user.email}}
            </ul>
            <h2>Dary</h2>
            {%for donation in donations%}
            <br><b>---</b><br>
            {%if donation.is_taken == True%}
            <div style="border: 1px solid #8F8F8D; padding: 10px; color: grey;">
                {%else%}
                <div style="border: 1px solid #8F8F8D; padding: 10px;">
                {%endif%}
            <h3>Dar nr {{donation.id}} | <a href="/donation/{{donation.id}}/">Szczegóły</a></h3>
            <ul style="position: relative; right: 22px;">
                <h4>Data utworzenia wpisu</h4>
                {{donation.date_added}}
                <br><br>
                <h4>Wybrana data odebrania rzeczy</h4>
                {{donation.pick_up_date}} o godzinie {{donation.pick_up_time}}
                <br><br>
                <h4>Rodzaj</h4>
                {%for category in donation_categories%}
                {%if donation.id == category.donation_id%}{{category.category.name}}, {%endif%}
                {%endfor%}
                <br><br>
                <h4>Ilość worków</h4>
                {{donation.quantity}}
                <br><br>
                <h4>Instytucja</h4>
                {{donation.institution}}
                <br><br>

                <h4>Status daru</h4>
                {%if donation.is_taken == True%}
                Odebrano dnia {{donation.date_taken}} o godzinie {{donation.time_taken}}
                {%else%}
                Nie odebrano
                {%endif%}
            </ul>
                </div>
            {%endfor%}

        </div>
      </div>
      </div>

    </section>

    <footer>
        <div id="contact" class="contact">
          <h2>Skontaktuj się z nami</h2>
          <h3>Formularz kontaktowy</h3>
          <form>
            <div class="form-group form-group--50">
              <input type="text" name="name" placeholder="Imię" />
            </div>
            <div class="form-group form-group--50">
              <input type="text" name="surname" placeholder="Nazwisko" />
            </div>

            <div class="form-group">
              <textarea name="message" placeholder="Wiadomość" rows="1"></textarea>
            </div>

            <button class="btn" type="submit">Wyślij</button>
          </form>
        </div>
        <div class="bottom-line">
          <span class="bottom-line--copy">Copyright &copy; 2018</span>
          <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="images/icon-facebook.svg"/></a>
            <a href="#" class="btn btn--small"><img src="images/icon-instagram.svg"/></a>
          </div>
        </div>
    </footer>
{%endblock%}